* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Baloo Da 2', cursive;
}

html {
    font-size: 62.5%;
}

/*navbar */
.navbar {
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.92);
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 3rem;
    transition: height 0.5s;
}

.navbar.change {
    height: 100vh;
}

.logo{
    position: absolute;
    top: 1.5rem;
    left: 4rem;
}

.logo a {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 3rem;
    color: wheat;
    letter-spacing: 0.1rem;
    font-weight: 900;
}

.ge {
    font-size: 2rem;
    color: #9e0e09;
    font-weight: bold;
}

.nav-list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;

}

.nav-link {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: #fff;
    margin: 2rem 0;
    text-transform: uppercase;
    font-weight: 800;
    transition: color 0.4s;
}

.nav-link:hover {
    color: #9e0e09;
}

.menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: wheat;
}

.line-1 {
    width: 50%;
}

.line-3 {
    width: 50%;
    margin-left: auto;
}
/* end of navbar */

/*section 1*/

.section-1 {
    width: 100%;
    height: 100vh;
    background-image: url('img/graduation.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.banner-heading {
    margin-bottom: 4rem;
    height: 9rem;
    perspective: 50rem;
    overflow: hidden;
}

.heading-1,
.heading-2,
.heading-3 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: wheat;
    text-shadow: 0.3rem 0.3rem 0.6rem
    rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateZ(4rem);
    opacity: 0;
    letter-spacing: 1rem;
}

.heading-1 {
    animation: animateHeading 14s 0.5s infinite;
}

.heading-2 {
    animation: animateHeading 14s 5s infinite;
}

.heading-3 {
    animation: animateHeading 14s 9.5s infinite;
}

@keyframes animateHeading {
    0% {
        transform: translateZ(4rem);
        opacity: 0;
        letter-spacing: 1rem;
    }
    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 0.5rem;
    }
    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 0.5rem;
    }
    28% {
        transform: translateZ(4rem);
        opacity: 0;
        letter-spacing: 1rem;
    }
    100% {
        transform: translateZ(4rem);
        opacity: 0;
        letter-spacing: 1rem;
    }
}

.banner-paragraph {
    font-size: 2.1rem;
    font-weight: 400;
    color: wheat;
    background-color: rgba(0, 0, 0, .6);
    width: 40%;
    margin: 0 auto 4rem auto;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem 
    rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
}

.banner-btn {
    width: 30rem;
    height: 6rem;
    background: linear-gradient(to right,
    #2e2a2a, rgb(116, 5, 5));
    color: wheat;
    font-size: 2rem; 
    text-transform: uppercase;
    border-radius: 3rem;
    border: 0.1rem solid #cf3939;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 18rem;
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 2s forwards;
    position: relative;
    overflow: hidden;
}

.banner-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
}

.banner-btn:hover::before {
    left: 100%;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

/*end of section 1 */